.center.user-callout.promotion-callout
  .user-callout-copy
    = custom_icon('icon_audit_events_purple')
    %h4
      - if Gitlab::CurrentSettings.should_check_namespace_plan?
        = s_('Promotions|Upgrade your plan to activate Audit Events.')
      - else
        = s_('Promotions|Keep track of events in your project')
    %p
      = _('Automatic event tracking provides a traceable history for audits.')
      = link_to _('Learn more.'), help_page_path('administration/audit_events.md', anchor: 'project-events'), target: '_blank', rel: 'noopener noreferrer'

    = render 'shared/promotions/promotion_link_project', location: :audit_events
